p
{
  font-size: 20px;
  font-family: "Raleway";
}

h1
{
  font-size: 50px;
  font-family: "Raleway";
  margin-top: 50px;
  margin-bottom: 100px;
}

.page_container
{
  text-align: center;
  overflow: auto;
}

.recaptcha_container
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flexbox_container 
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.same_height_col {
  flex: 1;
  padding: 1em;
}

.description
{
  margin-left: 5vw;
}

.resizable_img
{
  resize: both;
  overflow: auto;
  width: inherit;
  height: inherit;
}
